[submodule "source/ext/ruby"]
	path = source/ext/ruby
	url = ../../ruby/ruby.git
	ignore = dirty
[submodule "source/ext/fluentd"]
	path = source/ext/fluentd
	url = ../../fluent/fluentd.git
	ignore = dirty
[submodule "source/ext/jemalloc"]
	path = source/ext/jemalloc
	url = ../../jemalloc/jemalloc.git
	branch = stable-4
