# git ignore file for omsagent project
.idea
/intermediate
/target
/build/config.mak
/build/Makefile.version
/test/config
/build/x64
/build/x86
/test/docker-test/*.pyc
/test/docker-test/omsfiles/omsagent*.sh
.vscode
